/*/////////////////////////////////////////////////font faces used for axis labels and title ////////////////////*/
@font-face {
            src: local("Times");
            font-family: embeddedTimes;
            advancedAntiAliasing: true;
            fontWeight: bold;
        }
        
@font-face {
    font-family: 'chancery_cursiveitalic';
    src: url('../fonts/chancur-webfont.eot');
    src: url('../fonts/chancur-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chancur-webfont.woff2') format('woff2'),
         url('../fonts/chancur-webfont.woff') format('woff'),
         url('../fonts/chancur-webfont.ttf') format('truetype'),
         url('../fonts/hancur-webfont.svg#chancery_cursiveitalic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 120%;

}

@font-face {
    font-family: 'maranalloregular';
    src: url('../fonts/maranallo-webfont.eot');
    src: url('../fonts/maranallo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maranallo-webfont.woff2') format('woff2'),
         url('../fonts/maranallo-webfont.woff') format('woff'),
         url('../fonts/maranallo-webfont.ttf') format('truetype'),
         url('../fonts/maranallo-webfont.svg#maranalloregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 120%;
}






body {
  font-family: 'Dancing Script', cursive;
  background: #F3ECCB;
}

.axis-labels{
	font-family: 'Times New Roman', serif;
}

/*outermost border*/
.chart{
	background: #FCE2B0;
	opacity: 1;
	border-style: solid;
	border-color: black; 
	border-width: 6px;
	padding-right: 50px;

	box-shadow:
	    inset 0 0 0 4px #FCE2B0,
	    inset 0 0 0 6px black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


.x.axis path {
  display: none;
}

.area.above { fill: #ABAF7B;s } /*green fill*/
.area.below { fill: #E4AE95; } /*pink fill*/
.line {
  fill: none;
  stroke: #D6BF24; /*yellow line*/
  stroke-width: 5px;
}

.exports{
	stroke: #BB877F; /*pink line*/
}

.tick line{
	opacity: 0.2;
	stroke-width: 1px;
}

.boldline{
	opacity: 1;
	stroke-width: 10px;
}


.titleText{
	font-size: x-large;
	font-family: 'maranalloregular' ;
}
.titleText2{
	font-size: xx-large;
	font-family: 'chancery_cursiveitalic';
}
.titleText3{
	font-size: xx-large;
	font-family: 'maranalloregular' ;
	position: fixed;
	border-left: 75;
	border-top: 100;
}